appdirs==1.4.4
atomicwrites==1.4.0
attrs 
Automat 
bcrypt 
certifi==2021.10.8
cffi 
click 
colorama 
constantly==15.1.0
cryptography 
cssselect==1.1.0
Flask 
Flask-Cors 
hyperlink 
idna 
incremental 
iniconfig 
itemadapter 
itsdangerous 
Jinja2 
lxml 
MarkupSafe 
packaging 
parsel 
pluggy 
Protego==0.2.1
py 
pyasn1 
pyasn1-modules==0.2.8
pycparser 
PyDispatcher==2.0.5
PyHamcrest 
pyOpenSSL 
pyparsing 
pytest==6.2.5
pywin32==302
queuelib==1.5.0
Scrapy 
service-identity 
six 
toml 
Twisted 
twisted-iocpsupport 
typing-extensions 
w3lib 
waitress 
Werkzeug 
wincertstore==0.2
zope.interface 
